<h1 style="color:darkgrey">Log In Empleados</h1>
<br />
<form method="post">
    <label>Apellido: </label>
    <input type="text" name="apellido"
           class="form-control" />
    <br />
    <label>Contraseña</label>
    <input type="text" name="password"
           class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">
        Log In
    </button>
</form>

<h2 style="color:darkgrey">
    @ViewData["MENSAJE"]
</h2>