@model Empleado

<h1 style="color:darkgrey">Perfil personal del empleado </h1>

<ul style="color:darkgrey">
    <li class="list-group-item list-group-item-warning">
        Apellido: @Model.Apellido
    </li>
    <li class="list-group-item list-group-item-warning">
        Oficio: @Model.Oficio
    </li>
    <li class="list-group-item list-group-item-warning">
        Salario: @Model.Salario
    </li>
    <li class="list-group-item list-group-item-warning">
        Departamento: @Model.IdDepartamento
    </li>
</ul>